<h1>Workstation#show</h1>
<p>Find me in app/views/workstation/show.html.erb</p>

<table class="table">

  <thead>
  <tr>
    <th>User</th>
    <th>Email</th>
    <th>Workstation Name</th>
  </tr>
  </thead>

  <tbody>

  <tr>
    <td>
      <%= @user.id %>
    </td>

    <td>
      <%= @user.email %>
    </td>

    <td>
      <%= @workstation.name %>
    </td>
  </tr>

  </tbody>
</table>